<div class="w-full">
  <div class="border-b border-gray-200 pb-5 sm:flex sm:items-center sm:justify-between">
    <h3 class="text-primary font-semibold leading-6 ">
      <%= link_to "Announcements", :announcements %> &raquo; <%= @announcement.to_s %>
    </h3>
    <div class="flex gap-2">
      <% if authenticated? %>
        <%= link_to "Delete", @announcement, class: "btn btn-sm btn-ghost", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        <%= link_to "Edit", edit_announcement_path(@announcement), class: "btn btn-sm" %>
        <%= link_to "Back", announcements_path, class: "btn btn-ghost btn-sm" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container max-w-3xl mx-auto p-4">
  <div class="card bg-base-100">
    <div class="card-body">
      <div class="grid grid-cols-1 gap-4">
        <div>
          <label class="text-sm opacity-70">Title</label>
          <div class="mt-1"><%= @announcement.title %></div>
        </div>
        <div>
          <label class="text-sm opacity-70">Preview</label>
          <div class="mt-1"><%= @announcement.preview %></div>
        </div>
        <div>
          <label class="text-sm opacity-70">Content</label>
          <div class="mt-1"><%= @announcement.content %></div>
        </div>
        <div class="f">
          Segments
          <div class="grid grid-cols-2">
            <% @announcement.segments.each do |segment| %>
              <div class="font-bold">
                <%= segment.identifier %>
              </div>
              <div class="flex flex-col gap-1">
                <%= @announcement.segment_values.where(segment: ).pluck(:val).join(", ") %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
