<div class="container max-w-2xl mx-auto p-4">
  <%%= form_with(model: <%= singular_table_name %>) do |form| %>
  <%% if <%= singular_table_name %>.errors.any? %>
  <div class="alert alert-error mb-6">
    <div class="flex items-start">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 stroke-current shrink-0" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <div>
        <h4 class="font-medium"><%%= pluralize(<%= singular_table_name %>.errors.count, "error") %> prevented saving:</h4>
        <ul class="list-disc ml-5 mt-2">
          <%% <%= singular_table_name %>.errors.each do |error| %>
          <li class="text-sm"><%%= error.full_message %></li>
          <%% end %>
        </ul>
      </div>
    </div>
  </div>
  <%% end %>
  <div class="space-y-4">
    <% attributes.each do |attribute| %>
      <div class="form-control w-full">
        <%%= form.label :<%= attribute.column_name %>, class: "label" %>
        <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, class: "input input-bordered w-full" %>
      </div>
    <% end %>
    <div class="mt-8 flex justify-end gap-2">
      <%%= link_to "Cancel", <%= singular_table_name %>.persisted? ?  <%= singular_table_name %> : <%= index_helper %>_path, class: "btn btn-ghost" %>
      <%%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
  <%% end %>
</div>
