<div class="w-full">
  <div class="border-b border-gray-200 pb-5 sm:flex sm:items-center sm:justify-between">
    <h3 class="text-base font-semibold leading-6 text-gray-900"><%%= link_to "<%= plural_table_name.titleize %>", :<%= plural_table_name %> %> &raquo; Editing <%%= @<%= singular_table_name %>.to_s %></h3>
    <div class="flex gap-2">
      <%%= link_to "Back", @<%= singular_table_name %>, class: "btn btn-ghost btn-sm" %>
    </div>
  </div>
</div>
<div class="container max-w-3xl mx-auto p-4">
  <%%= render "form", <%= singular_table_name %>: @<%= singular_table_name %> %>
</div>
